.idea
.vscode
*.iml
*.log
.git
.gitignore
.DS_Store
target/*.jar.original
target/classes
target/generated-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
